$theme-colors: (
   "login-back": #24272e,
   "login-form": #14161a,
   "login-light": #8895aa,
);

:export {
   loginBack: map-get($theme-colors, "login-back");
   loginForm: map-get($theme-colors, "login-form");
   loginLight: map-get($theme-colors, "login-light");
}
