@import "custom";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "config";
@import "utils";

html,
body {
   background-color: map-get($theme-colors, "back");
}

/*
   Main Comp Tables and Data tables
*/
.compTable,
.dataTable {
   text-align: center;
   $rounding: 6px;

   $border-width: 1px;

   thead {
      tr {
         th {
            font-weight: 500;
            font-size: 22px;
            padding: 10px;
            color: map-get($theme-colors, "back");

            &:first-child {
               border-top-left-radius: $rounding;
            }
            &:last-child {
               border-top-right-radius: $rounding;
               border-right: 0;
            }

            .admin {
               filter: invert(100%);
               float: left;
               width: 32px;
               margin-top: 0px;
               margin-left: 0px;
            }

            .none {
               width: 0px;
            }

            .plus {
               filter: invert(100%);
               float: right;
               width: 32px;
               margin-top: 0px;
               margin-right: 0px;

               &:hover {
                  cursor: pointer;
               }
            }
         }
      }
   }
   tbody {
      tr {
         background-color: map-get($theme-colors, "comp-table-row-light");
         &:nth-child(even) {
            background-color: map-get($theme-colors, "comp-table-row-dark");
         }

         td {
            font-weight: 400;
            font-size: 18px;
            color: map-get($theme-colors, "table-text");
            border-right: $border-width solid map-get($theme-colors, "back");
            padding: 16px 4px;
            vertical-align: middle;

            &.compName {
               width: 46%;
            }

            &:last-child {
               border-right: 0;
            }

            &.link:hover {
               background-color: map-get($theme-colors, "back");
               color: map-get($theme-colors, "comp-table-head");
               font-weight: 400;
               cursor: pointer;
            }
         }

         &:last-child {
            border-bottom: 0;

            td:first-child {
               border-bottom-left-radius: $rounding;
            }
            td:last-child {
               border-bottom-right-radius: $rounding;
            }
         }
      }
   }
}

/*
   Comp Table specifics
*/

.compTable {
   tbody {
      tr {
         td {
            width: 9%;
         }
      }
   }
}

/*
   Data Table specifics
*/
.dataTable {
   table-layout: fixed;
   thead {
      tr {
         th {
            font-size: 15px;
            padding: 8px 0;
            vertical-align: middle;
            width: 4%;

            &.long {
               width: 12%;
            }

            .clock {
               filter: invert(100%);
               width: 20px;
            }
         }
      }
   }
   tbody {
      tr {
         background-color: map-get($theme-colors, "back");

         td {
            padding: 8px 4px;
            font-size: 14px;
            font-weight: 500;

            .icons {
               width: 32px;
            }
         }

         &.updated {
            background-color: map-get($theme-colors, "data-table-row-light");
            &:nth-child(even) {
               background-color: map-get($theme-colors, "data-table-row-dark");
            }

            .def {
               &1,
               &2,
               &3,
               &4 {
                  color: white;
               }
               &1 {
                  background-color: map-get($theme-colors, "def1");
               }
               &2 {
                  background-color: map-get($theme-colors, "def2");
               }
               &3 {
                  background-color: map-get($theme-colors, "def3");
               }
               &4 {
                  background-color: map-get($theme-colors, "def4");
               }
            }
         }
      }
   }

   &.pending {
      table-layout: fixed;

      thead {
         tr {
            th {
               border-right: 0;
               width: 140px;

               &.long {
                  width: 300px;
               }
            }
         }
      }

      tbody {
         tr {
            td {
               border-right: 0;

               .input {
                  border: 0;
                  width: 90%;
                  margin-left: auto;
                  margin-right: auto;
                  background-color: white;
                  color: map-get($theme-colors, "table-text");
                  font-size: 18px;

                  &[type="number"] {
                     padding-right: 0.2em;
                  }

                  &.short {
                     width: 60%;
                  }

                  &.tiny {
                     width: 45%;
                     margin-top: 6px;
                     margin-bottom: 6px;
                     display: block;

                     &:first-child {
                        margin-top: 0;
                     }
                     &:last-child {
                        margin-bottom: 0;
                     }
                  }

                  &.textarea {
                     resize: none;
                     height: 140px;
                  }
               }

               button {
                  width: 256px;
                  height: 48px;
                  margin: 12px 0px;
                  font-size: 20px;
                  border: 0;
                  font-weight: 500;
               }
            }
         }
      }
   }
}

/*
   Modal Submit button specifics
*/
.modalSubmit {
   &:hover {
      font-weight: 600;
      color: map-get($theme-colors, "back");
   }
}

/*
   Field Zone Buttons for modal and Scouting App
*/
.field,
.heatmapField {
   width: 560px;
   height: 336px;
   display: flex;
   flex-direction: row;
   padding: 0;

   .group {
      display: flex;
      flex-direction: column;

      // For zone buttons
      $border-width: 1.5px;
      $border-radius: 20px;

      /// Default zone button style
      button {
         padding: 0;
         margin: 0;
         border: $border-width solid map-get($theme-colors, "button-white");
         border-radius: 0px;

         /// Colors
         background-color: map-get($theme-colors, "light-grey");
         &.active {
            background-color: map-get($theme-colors, "dark-grey");
         }
         &.red {
            background-color: map-get($theme-colors, "light-red");
            &.active {
               background-color: map-get($theme-colors, "dark-red");
            }
         }
         &.blue {
            background-color: map-get($theme-colors, "light-blue");
            &.active {
               background-color: map-get($theme-colors, "dark-blue");
            }
         }

         /// Team Number
         .teamNumber {
            font-size: 62px;

            &.red {
               color: map-get($theme-colors, "dark-red");
            }
            &.blue {
               color: map-get($theme-colors, "dark-blue");
            }
         }
      }

      /// Squares
      ._0,
      ._1,
      ._2,
      ._10,
      ._11,
      ._12 {
         width: 112px;
         height: 112px;
      }
      /// Tall rectangles
      ._3,
      ._4,
      ._8,
      ._9 {
         width: 84px;
         height: 168px;
      }
      /// Long rectangles
      ._5,
      ._7 {
         width: 168px;
         height: 84px;
      }
      /// Center
      ._6 {
         width: 168px;
         height: 168px;
      }

      /// Thicker Outer Borders
      ._0,
      ._1,
      ._2 {
         border-left-width: $border-width * 2;
      }
      ._10,
      ._11,
      ._12 {
         border-right-width: $border-width * 2;
      }
      ._0,
      ._3,
      ._5,
      ._8,
      ._10 {
         border-top-width: $border-width * 2;
      }
      ._2,
      ._4,
      ._7,
      ._9,
      ._12 {
         border-bottom-width: $border-width * 2;
      }

      /// Rounded borders
      ._0 {
         border-top-left-radius: $border-radius;
      }
      ._2 {
         border-bottom-left-radius: $border-radius;
      }
      ._10 {
         border-top-right-radius: $border-radius;
      }
      ._12 {
         border-bottom-right-radius: $border-radius;
      }
   }
}

/*
   Scouting App
*/
.scoutingApp {
   padding: 0;
   margin: 0;
   position: absolute;
   text-align: center;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background-image: url("../photos/spacewallpaper.png");
   background-repeat: repeat;
   width: 100%;
   height: 100%;

   /// General style
   button {
      border-radius: 12px;
      border: 0;
      padding: 0;
      margin: 0;
      font-size: 16px;
      font-weight: 500;
      background-color: map-get($theme-colors, "button-grey");
      color: map-get($theme-colors, "button-white");

      &.on {
         color: map-get($theme-colors, "button-grey");
         background-color: map-get($theme-colors, "button-white");
      }
   }

   /// Top timer buttons
   .timerButtons {
      display: flex;
      justify-content: center;

      button {
         width: 160px;
         height: 64px;
         font-size: 48px;
         line-height: 0;
         margin: 20px 0;

         &.mustChange {
            font-size: 32px;

            &.red {
               background-color: map-get($theme-colors, "dark-red");
            }
            &.blue {
               background-color: map-get($theme-colors, "dark-blue");
            }
         }
      }

      .options {
         background-color: #ff7300;
         font-size: 32px;
         margin: 20px;
      }
   }

   /// What the user interacts with
   .userArea {
      display: flex;
      flex-direction: row;
      justify-content: center;

      /// Sidebars
      .sidebar {
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         padding: 0;
         margin: 0 24px;

         // For sidebar buttons
         $border-radius: 16px;

         /// Long buttons (Cross Line, etc.)
         button {
            width: 272px;
            height: 72px;
            border: 0;
            border-radius: $border-radius;
            line-height: 1.25;

            // Clicked +, -, or pickup
            &.active {
               background-color: map-get($theme-colors, "button-click");
            }

            &.crossLine {
               font-size: 24px;
            }
         }

         /// Button sets (parked/hanged)
         .buttonSet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            button {
               width: 128px;
               height: 72px;
               border: 0;
               border: $border-radius;
            }
         }

         /// Button rows (flips, scoring, etc.)
         .buttonRow {
            display: flex;
            flex-direction: row;

            button {
               width: 80px;
               height: 72px;
               border: 0;
               border-radius: 0;
               font-size: 16px;

               &:first-child {
                  width: 96px;
                  border-top-left-radius: $border-radius;
                  border-bottom-left-radius: $border-radius;

                  // Flip
                  &.flipRed {
                     background-color: map-get($theme-colors, "dark-red");
                  }
               }

               &:last-child {
                  width: 96px;
                  border-top-right-radius: $border-radius;
                  border-bottom-right-radius: $border-radius;

                  // Flip
                  &.flipBlue {
                     background-color: map-get($theme-colors, "dark-blue");
                  }
               }

               // Plus or minus
               &.symbol {
                  font-size: 56px;
                  font-weight: 200;
                  line-height: 0;
               }

               // Info (teamNumber, matchNumber, scoutName)
               &.info {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  font-size: 18px;

                  &.button {
                     width: 272px;
                     height: 156px;
                  }

                  .group {
                     display: flex;
                     flex-direction: column;
                     align-items: center;

                     label {
                        margin: 0;
                        padding: 0;
                     }

                     input {
                        width: 192px;
                        height: 28px;
                     }
                  }

                  .row {
                     display: flex;
                     flex-direction: row;
                     justify-content: center;

                     .group {
                        // Keeps style from above
                        margin: 16px 16px 4px 16px;

                        input {
                           width: 80px;
                        }
                     }
                  }
               }
            }
         }
      }

      /// Field is also applicable for heatmaps so it is outside above

      // Misc
      .misc {
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         height: 336px;

         textarea {
            resize: none;
            width: 720px;
            height: 200px;
            border-radius: 16px;
            border: 0;
            padding: 4px 8px;
            font-size: 18px;
         }

         .buttonLine {
            display: flex;
            flex-direction: row;

            $border-radius: 24px;

            button {
               border-radius: 0;
               width: 144px;
               height: 80px;

               &:first-child {
                  border-top-left-radius: 24px;
                  border-bottom-left-radius: 24px;
               }

               &:last-child {
                  border-top-right-radius: 24px;
                  border-bottom-right-radius: 24px;
               }
            }
         }
      }
   }

   /// Mode button bar
   .mode {
      display: flex;
      flex-direction: row;
      width: 1200px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;

      button {
         width: 240px;
         height: 56px;
         background-color: map-get($theme-colors, "dark-grey");
         margin: 0 20px;

         &.auto {
            background-color: map-get($theme-colors, "auto");
            font-size: 24px;
         }

         &.teleop {
            background-color: map-get($theme-colors, "teleop");
            font-size: 24px;
         }

         &.endgame {
            background-color: map-get($theme-colors, "endgame");
            font-size: 24px;
         }

         &.misc {
            background-color: map-get($theme-colors, "misc");
            font-size: 24px;
         }
      }
   }
}

// Heatmap Modal
.heatmapButtons {
   display: flex;
   flex-direction: row;
   justify-content: space-between;

   width: 100%;

   button {
      width: 30%;
   }
}

.heatmapField {
   margin-left: auto;
   margin-right: auto;

   .group {
      position: relative;

      button {
         background-color: map-get($theme-colors, "heatmap-grey");
         font-size: 32px;
         color: map-get($theme-colors, "back");
      }

      .arrow {
         position: absolute;
         top: 150px;

         img {
            filter: invert(100%);
            width: 36px;
            position: absolute;

            &:first-child {
               left: 4px;
            }

            &:last-child {
               left: 128px;
            }
         }
      }
   }
}
