@import "custom";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "config";
@import "utils";

html,
body {
   background-color: map-get($theme-colors, "back");
}

// Data Tables
.compTable {
   text-align: center;
   $rounding: 6px;

   thead {
      tr {
         border-bottom: 2px solid map-get($theme-colors, "back");

         th {
            font-weight: 500;
            font-size: 22px;
            border-right: 2px solid map-get($theme-colors, "back");
            padding: 6px 12px;
            color: map-get($theme-colors, "back");

            &:first-child {
               border-top-left-radius: $rounding;
            }
            &:last-child {
               border-top-right-radius: $rounding;
               border-right: 0;
            }

            .plus {
               filter: invert(100%);
               float: right;
               width: 28px;
               margin-top: 2px;
               margin-right: -3px;

               &:hover {
                  cursor: pointer;
               }
            }
         }
      }
   }
   tbody {
      tr {
         border-bottom: 2px solid map-get($theme-colors, "back");

         background-color: map-get($theme-colors, "comp-table-row-light");
         &:nth-child(even) {
            background-color: map-get($theme-colors, "comp-table-row-dark");
         }

         td {
            font-weight: 400;
            font-size: 16px;
            color: map-get($theme-colors, "comp-table-text");
            border-right: 2px solid map-get($theme-colors, "back");
            padding: 6px 12px;

            width: 11%;

            &.compName {
               width: 34%;
            }

            &:last-child {
               border-right: 0;
            }

            &.link:hover {
               background-color: map-get($theme-colors, "back");
               color: map-get($theme-colors, "comp-table-head");
               font-weight: 400;
               cursor: pointer;
            }
         }

         &:last-child {
            border-bottom: 0;

            td:first-child {
               border-bottom-left-radius: $rounding;
            }
            td:last-child {
               border-bottom-right-radius: $rounding;
            }
         }
      }
   }
}

.modalSubmit {
   &:hover {
      font-weight: 600;
      color: map-get($theme-colors, "back");
   }
}
